input {  
    twitter {
        # add your data
        consumer_key => "YnhQGGK3nxL9eUeRxz1WyyGjJ"
        consumer_secret => "TuSX2h85QphLoqrBuWuI0hF4vCqEBRQkKnhLSDdkKyY1nuHywl"
        oauth_token => "795252007216914433-kXwR5rMnnAGC2ZvXGXqaG6umytKWTGz"
        oauth_token_secret => "QCTR4YuTTVS4Av9iMPMLv6IqWHe9EqE6pdHlpxsegEf6Q"
        keywords => ["NBA"]
        full_tweet => true
    }
}
output{
   kafka {
   topic_id => "tweets_logs"
   
  }
    stdout{
        codec => rubydebug
    }
}
